<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mitsuki.ehit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.mitsuki.ehit.base.EhApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.mitsuki.ehit.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.mitsuki.ehit.ui.search.SearchActivity" />

        <activity android:name="com.mitsuki.ehit.ui.gallerydetail.activity.GalleryMoreInfoActivity" />

        <activity android:name="com.mitsuki.ehit.ui.gallerydetail.activity.GalleryActivity" />

        <activity android:name="com.mitsuki.ehit.ui.activity.SettingActivity" />


        <activity android:name="com.mitsuki.ehit.ui.activity.GalleryCommentActivity" />


        <activity android:name="com.mitsuki.ehit.ui.activity.FavouriteActivity" />

        <activity android:name="com.mitsuki.ehit.ui.activity.HistoryActivity" />

        <activity android:name="com.mitsuki.ehit.ui.activity.DownloadActivity" />



    </application>

</manifest>