<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mitsuki.ehit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.mitsuki.ehit.base.EhApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />

        <activity
            android:name="com.mitsuki.ehit.ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="e-hentai.org" />
                <data android:host="exhentai.org" />
            </intent-filter>

        </activity>

        <service
            android:name="com.mitsuki.ehit.service.download.DownloadService"
            android:foregroundServiceType="dataSync" />
        <service android:name="com.mitsuki.ehit.service.export.ExportService" />

        <activity android:name="com.mitsuki.ehit.ui.search.SearchActivity" />
        <activity android:name="com.mitsuki.ehit.ui.detail.activity.GalleryMoreInfoActivity" />
        <activity android:name="com.mitsuki.ehit.ui.detail.activity.GalleryActivity" />
        <activity android:name="com.mitsuki.ehit.ui.setting.SettingActivity" />
        <activity android:name="com.mitsuki.ehit.ui.comment.activity.GalleryCommentActivity" />
        <activity android:name="com.mitsuki.ehit.ui.temp.activity.HistoryActivity" />
        <activity android:name="com.mitsuki.ehit.ui.download.activity.DownloadActivity" />
        <activity android:name="com.mitsuki.ehit.ui.comment.activity.CommentSendActivity" />

    </application>

</manifest>